@page "/setting-management"
@using Radzen
@using Radzen.Blazor
@using Radzen.Blazor.Rendering
@using UI.StaticClass
@using Microsoft.AspNetCore.Authorization
@using Microsoft.Extensions.Localization
@using Domain
@using Application.Services
@inject IStringLocalizer<CommonResources> _localizer
@inject NotificationService _notificationService


<RadzenRow Gap="1rem" Class="padding-body-content">
    <RadzenColumn SizeXS="12" SizeMD="12">
        <RadzenStack Orientation="Orientation.Vertical" JustifyContent="JustifyContent.Center"
                     AlignItems="AlignItems.Stretch" Gap="5px">
            <RadzenStack Orientation="Orientation.Horizontal" JustifyContent="JustifyContent.End"
                         AlignItems="AlignItems.Center" Gap="1rem" Wrap="FlexWrap.Wrap">
                <RadzenButton Click="@HandleSaveClick" Variant="Variant.Flat" Shade="Shade.Dark"
                              Text="@_localizer["btn_Save"]" Icon="save" ButtonStyle="ButtonStyle.Success" />
            </RadzenStack>

            @if (_isLoading)
            {
                <div class="text-center p-4">
                    <RadzenProgressBar Mode="ProgressBarMode.Indeterminate" Style="margin-bottom: 10px;" />
                    <p>@_localizer["msg_LoadingSettings"]</p>
                </div>
            }
            else
            {
                <RadzenCard>
                    <RadzenTabs>
                        <Tabs>
                            <RadzenTabsItem Text="@_localizer["lbl_GeneralSettings"]">
                                <RadzenFieldset Text="@_localizer["Calculator"]">
                                    <div class="row p-3">
                                        <div class="col-12 col-md-6 col-lg-4 mb-3">
                                            <RadzenFormField Text="@_localizer["lbl_HeSoLuuToc_Phi"]" Variant="Variant.Outlined" Style="width:100%">

                                                <RadzenNumeric TValue="double" @bind-Value="@_config.ParametterConfig.HeSoLuuToc_Phi"
                                                               Style="width: 100%">
                                                    <RadzenRequiredValidator Component="HeSoLuuToc_Phi" Text="@string.Format(_localizer["validation_Required"], _localizer["lbl_HeSoLuuToc_Phi"])" Style="display: block" />
                                                    <RadzenNumericRangeValidator Component="HeSoLuuToc_Phi" Min="0" Max="1" Text="@string.Format(_localizer["validation_Range"], _localizer["lbl_HeSoLuuToc_Phi"], 0, 1)" Style="display: block" />
                                                </RadzenNumeric>
                                            </RadzenFormField>
                                        </div>

                                        <div class="col-12 col-md-6 col-lg-4 mb-3">
                                            <RadzenFormField Text="@_localizer["lbl_SoCuaMo"]" Variant="Variant.Outlined" Style="width:100%">

                                                <RadzenNumeric TValue="int" @bind-Value="@_config.ParametterConfig.SoCuaMo"
                                                               Style="width: 100%">
                                                    <RadzenRequiredValidator Component="SoCuaMo" Text="@string.Format(_localizer["validation_Required"], _localizer["lbl_SoCuaMo"])" Style="display: block" />
                                                    <RadzenNumericRangeValidator Component="SoCuaMo" Min="1" Max="10" Text="@string.Format(_localizer["validation_Range"], _localizer["lbl_SoCuaMo"], 1, 10)" Style="display: block" />
                                                </RadzenNumeric>
                                            </RadzenFormField>
                                        </div>

                                        <div class="col-12 col-md-6 col-lg-4 mb-3">
                                            <RadzenFormField Text="@_localizer["lbl_HeSoCoHep_ALpha"]" Variant="Variant.Outlined" Style="width:100%">

                                                <RadzenNumeric TValue="double" @bind-Value="@_config.ParametterConfig.HeSoCoHep_ALpha"
                                                               Style="width: 100%">
                                                    <RadzenRequiredValidator Component="HeSoCoHep_ALpha" Text="@string.Format(_localizer["validation_Required"], _localizer["lbl_HeSoCoHep_ALpha"])" Style="display: block" />
                                                    <RadzenNumericRangeValidator Component="HeSoCoHep_ALpha" Min="0" Max="1" Text="@string.Format(_localizer["validation_Range"], _localizer["lbl_HeSoCoHep_ALpha"], 0, 1)" Style="display: block" />
                                                </RadzenNumeric>
                                            </RadzenFormField>
                                        </div>
                                    </div>
                                </RadzenFieldset>
                                <RadzenFieldset Text="@_localizer["OffsetAPI"]">
                                    <div class="row p-3">
                                        <div class="col-12 col-md-6 col-lg-4 mb-3">
                                            <RadzenFormField Text="API_Fllow_DauTieng (m)" Variant="Variant.Outlined" Style="width:100%">

                                                <RadzenNumeric TValue="double" @bind-Value="@_config.ParametterConfig.API_Offset.API_Fllow_DauTieng"
                                                               Style="width: 100%">
                                                </RadzenNumeric>
                                            </RadzenFormField>
                                            <RadzenRequiredValidator Component="API_Fllow_DauTieng" Popup="false" Min="0" Style="position: absolute" />
                                        </div>
                                        <div class="col-12 col-md-6 col-lg-4 mb-3">
                                            <RadzenFormField Text="API_Fllow_BenSuc (m)" Variant="Variant.Outlined" Style="width:100%">

                                                <RadzenNumeric TValue="double" @bind-Value="@_config.ParametterConfig.API_Offset.API_Fllow_BenSuc"
                                                               Style="width: 100%">
                                                </RadzenNumeric>
                                            </RadzenFormField>
                                            <RadzenRequiredValidator Component="API_Fllow_BenSuc" Popup="false" Min="0" Style="position: absolute" />
                                        </div>
                                        <div class="col-12 col-md-6 col-lg-4 mb-3">
                                            <RadzenFormField Text="API_Fllow_SonDai (m)" Variant="Variant.Outlined" Style="width:100%">

                                                <RadzenNumeric TValue="double" @bind-Value="@_config.ParametterConfig.API_Offset.API_Fllow_SonDai"
                                                               Style="width: 100%">
                                                </RadzenNumeric>
                                            </RadzenFormField>
                                            <RadzenRequiredValidator Component="API_Fllow_SonDai (m)" Popup="false" Min="0" Style="position: absolute" />
                                        </div>
                                        <div class="col-12 col-md-6 col-lg-4 mb-3">
                                            <RadzenFormField Text="API_Fllow_BinhNham (m)" Variant="Variant.Outlined" Style="width:100%">

                                                <RadzenNumeric TValue="double" @bind-Value="@_config.ParametterConfig.API_Offset.API_Fllow_BinhNham"
                                                               Style="width: 100%">
                                                </RadzenNumeric>
                                            </RadzenFormField>
                                            <RadzenRequiredValidator Component="API_Fllow_BinhNham" Popup="false" Min="0" Style="position: absolute" />
                                        </div>
                                        <div class="col-12 col-md-6 col-lg-4 mb-3">
                                            <RadzenFormField Text="API_Fllow_TL_CDD (m)" Variant="Variant.Outlined" Style="width:100%">

                                                <RadzenNumeric TValue="double" @bind-Value="@_config.ParametterConfig.API_Offset.API_Fllow_TL_CDD"
                                                               Style="width: 100%">
                                                </RadzenNumeric>
                                            </RadzenFormField>
                                            <RadzenRequiredValidator Component="API_Fllow_TL_CDD" Popup="false" Min="0" Style="position: absolute" />
                                        </div>
                                        <div class="col-12 col-md-6 col-lg-4 mb-3">
                                            <RadzenFormField Text="API_ChanDap (m)" Variant="Variant.Outlined" Style="width:100%">

                                                <RadzenNumeric TValue="double" @bind-Value="@_config.ParametterConfig.API_Offset.API_ChanDap"
                                                               Style="width: 100%">
                                                </RadzenNumeric>
                                            </RadzenFormField>
                                            <RadzenRequiredValidator Component="API_ChanDap" Popup="false" Min="0" Style="position: absolute" />
                                        </div>
                                        <div class="col-12 col-md-6 col-lg-4 mb-3">
                                            <RadzenFormField Text="API_ThanhAn (m)" Variant="Variant.Outlined" Style="width:100%">

                                                <RadzenNumeric TValue="double" @bind-Value="@_config.ParametterConfig.API_Offset.API_ThanhAn"
                                                               Style="width: 100%">
                                                </RadzenNumeric>
                                            </RadzenFormField>
                                            <RadzenRequiredValidator Component="API_ThanhAn" Popup="false" Min="0" Style="position: absolute" />
                                        </div>
                                    </div>
                                </RadzenFieldset>
                            </RadzenTabsItem>

                            <RadzenTabsItem Text="Cấu hình Camera">
                                <div class="row p-3">
                                    <div class="col-12">
                                        <RadzenStack Orientation="Orientation.Horizontal" JustifyContent="JustifyContent.End" AlignItems="AlignItems.Center" Gap="0.5rem" Class="rz-mb-2">
                                            <RadzenButton Icon="add" Text="Thêm camera" Click="@InsertCameraRow" />
                                        </RadzenStack>

                                        <RadzenDataGrid @ref="_cameraGrid"
                                                        Data="@_config.CameraConfigs"
                                                        TItem="CameraConfigModel"
                                                        EditMode="DataGridEditMode.Single"
                                                        AllowPaging="true" PageSize="10"
                                                        AllowSorting="true"
                                                        AllowFiltering="true"
                                                        RowUpdate="@OnCameraUpdateRow"
                                                        RowCreate="@OnCameraCreateRow">
                                            <Columns>
                                                <RadzenDataGridColumn TItem="CameraConfigModel" Title="Thao tác" Width="180px" Filterable="false" Sortable="false" TextAlign="TextAlign.Center">
                                                    <Template Context="data">
                                                        <RadzenButton Icon="edit" Size="ButtonSize.Small" Click="@(() => EditCameraRow(data))" Class="rz-mr-2" />
                                                        <RadzenButton Icon="delete" Size="ButtonSize.Small" ButtonStyle="ButtonStyle.Danger" Click="@(() => DeleteCameraRow(data))" />
                                                    </Template>
                                                    <EditTemplate Context="data">
                                                        <RadzenButton Icon="save" Size="ButtonSize.Small" ButtonStyle="ButtonStyle.Primary" Click="@(() => SaveCameraRow(data))" Class="rz-mr-2" />
                                                        <RadzenButton Icon="close" Size="ButtonSize.Small" ButtonStyle="ButtonStyle.Light" Click="@(() => CancelEditCameraRow(data))" />
                                                    </EditTemplate>
                                                </RadzenDataGridColumn>

                                                <RadzenDataGridColumn TItem="CameraConfigModel" Property="CameraId" Title="ID" Width="260px">
                                                    <EditTemplate Context="data">
                                                        <RadzenNumeric style="width:100%" @bind-Value="data.CameraId" />
                                                    </EditTemplate>
                                                </RadzenDataGridColumn>

                                                <RadzenDataGridColumn TItem="CameraConfigModel" Property="CameraTitle" Title="Tiêu đề" Width="260px">
                                                    <EditTemplate Context="data">
                                                        <RadzenTextBox style="width:100%" @bind-Value="data.CameraTitle" />
                                                    </EditTemplate>
                                                </RadzenDataGridColumn>

                                                <RadzenDataGridColumn TItem="CameraConfigModel" Property="HlsStreamUrl" Title="HLS URL" Width="480px">
                                                    <EditTemplate Context="data">
                                                        <RadzenTextBox style="width:100%" @bind-Value="data.HlsStreamUrl" />
                                                    </EditTemplate>
                                                </RadzenDataGridColumn>

                                                <RadzenDataGridColumn TItem="CameraConfigModel" Property="Actived" Title="Kích hoạt" Width="120px" TextAlign="TextAlign.Center">
                                                    <Template Context="data">
                                                        <RadzenSwitch Value="@data.Actived" Disabled="true" />
                                                    </Template>
                                                    <EditTemplate Context="data">
                                                        <RadzenSwitch @bind-Value="data.Actived" />
                                                    </EditTemplate>
                                                </RadzenDataGridColumn>
                                            </Columns>
                                        </RadzenDataGrid>
                                        <div class="rz-mt-2 rz-text-secondary">Nhấn Lưu ở trên cùng để lưu toàn bộ cấu hình.</div>
                                    </div>
                                </div>
                            </RadzenTabsItem>

                            <RadzenTabsItem Text="@_localizer["lbl_FlowSettings"]">
                                <div class="row p-3">
                                    <div class="col-12 col-md-6 col-lg-4 mb-3">
                                        <RadzenFormField Text='@(_localizer["lbl_Fllow_HL_TXL"] + " (m³/s)")' Variant="Variant.Outlined" Style="width:100%">

                                            <RadzenNumeric TValue="double" @bind-Value="@_config.ParametterConfig.Fllow_HL_TXL"
                                                           Style="width: 100%">
                                                <RadzenRequiredValidator Component="Fllow_HL_TXL" Text="@string.Format(_localizer["validation_Required"], _localizer["lbl_Fllow_HL_TXL"])" Style="display: block" />
                                                <RadzenNumericRangeValidator Component="Fllow_HL_TXL" Min="0" Max="10000" Text="@string.Format(_localizer["validation_Range"], _localizer["lbl_Fllow_HL_TXL"], 0, 10000)" Style="display: block" />
                                            </RadzenNumeric>
                                        </RadzenFormField>
                                    </div>
                                </div><div class="row p-3">
                                    <div class="col-12 col-md-6 col-lg-4 mb-3">
                                        <RadzenFormField Text='@(_localizer["lbl_Fllow_HL_TXL"] + " (m³/s)")' Variant="Variant.Outlined" Style="width:100%">

                                            <RadzenNumeric TValue="double" @bind-Value="@_config.ParametterConfig.Fllow_HL_TXL"
                                                           Style="width: 100%">
                                                <RadzenRequiredValidator Component="Fllow_HL_TXL" Text="@string.Format(_localizer["validation_Required"], _localizer["lbl_Fllow_HL_TXL"])" Style="display: block" />
                                                <RadzenNumericRangeValidator Component="Fllow_HL_TXL" Min="0" Max="10000" Text="@string.Format(_localizer["validation_Range"], _localizer["lbl_Fllow_HL_TXL"], 0, 10000)" Style="display: block" />
                                            </RadzenNumeric>
                                        </RadzenFormField>
                                    </div>
                                </div>
                                <RadzenFieldset Text="@_localizer["Cống Số 1"]">
                                    <div class="row p-3">
                                        <div class="col-12 col-md-6 col-lg-4 mb-3">
                                            <RadzenFormField Text='@(_localizer["Q"] + " (m³/s)")' Variant="Variant.Outlined" Style="width:100%">

                                                <RadzenNumeric TValue="double" @bind-Value="@_config.ParametterConfig.Q_CongSo1"
                                                               Style="width: 100%">
                                                </RadzenNumeric>
                                            </RadzenFormField>
                                            @* <RadzenRequiredValidator Component="API_ThanhAn" Popup="false" Min="0" Style="position: absolute" /> *@
                                        </div>
                                        <div class="col-12 col-md-6 col-lg-4 mb-3">
                                            <RadzenFormField Text="Độ mở cửa (m)" Variant="Variant.Outlined" Style="width:100%">
                                                <RadzenNumeric TValue="double" @bind-Value="@_config.ParametterConfig.DoMoCua_a_CongSo1"
                                                               Style="width: 100%">
                                                </RadzenNumeric>
                                            </RadzenFormField>
                                            @* <RadzenRequiredValidator Component="MNTL_CongSo1" Popup="false" Min="0" Style="position: absolute" /> *@
                                        </div>
                                        <div class="col-12 col-md-6 col-lg-4 mb-3">
                                            <RadzenFormField Text="MN Thượng Lưu (m)" Variant="Variant.Outlined" Style="width:100%">
                                                <RadzenNumeric TValue="double" @bind-Value="@_config.ParametterConfig.MNTL_CongSo1"
                                                               Style="width: 100%">
                                                </RadzenNumeric>
                                            </RadzenFormField>
                                            @* <RadzenRequiredValidator Component="MNTL_CongSo1" Popup="false" Min="0" Style="position: absolute" /> *@
                                        </div>
                                        <div class="col-12 col-md-6 col-lg-4 mb-3">
                                            <RadzenFormField Text="MN Hạ Lưu (m)" Variant="Variant.Outlined" Style="width:100%">
                                                <RadzenNumeric TValue="double" @bind-Value="@_config.ParametterConfig.MNHL_CongSo1"
                                                               Style="width: 100%">
                                                </RadzenNumeric>
                                            </RadzenFormField>
                                            @* <RadzenRequiredValidator Component="MNTL_CongSo1" Popup="false" Min="0" Style="position: absolute" /> *@
                                        </div>
                                    </div>
                                </RadzenFieldset>
                                <RadzenFieldset Text="@_localizer["Cống Số 2"]">
                                    <div class="row p-3">
                                        <div class="col-12 col-md-6 col-lg-4 mb-3">
                                            <RadzenFormField Text='@(_localizer["Q"] + " (m³/s)")' Variant="Variant.Outlined" Style="width:100%">

                                                <RadzenNumeric TValue="double" @bind-Value="@_config.ParametterConfig.Q_CongSo2"
                                                               Style="width: 100%">
                                                </RadzenNumeric>
                                            </RadzenFormField>
                                            @* <RadzenRequiredValidator Component="API_ThanhAn" Popup="false" Min="0" Style="position: absolute" /> *@
                                        </div>
                                        <div class="col-12 col-md-6 col-lg-4 mb-3">
                                            <RadzenFormField Text="Độ mở cửa (m)" Variant="Variant.Outlined" Style="width:100%">
                                                <RadzenNumeric TValue="double" @bind-Value="@_config.ParametterConfig.DoMoCua_a_CongSo2"
                                                               Style="width: 100%">
                                                </RadzenNumeric>
                                            </RadzenFormField>
                                            @* <RadzenRequiredValidator Component="MNTL_CongSo1" Popup="false" Min="0" Style="position: absolute" /> *@
                                        </div>
                                        <div class="col-12 col-md-6 col-lg-4 mb-3">
                                            <RadzenFormField Text="MN Thượng Lưu (m)" Variant="Variant.Outlined" Style="width:100%">
                                                <RadzenNumeric TValue="double" @bind-Value="@_config.ParametterConfig.MNTL_CongSo2"
                                                               Style="width: 100%">
                                                </RadzenNumeric>
                                            </RadzenFormField>
                                            @* <RadzenRequiredValidator Component="MNTL_CongSo1" Popup="false" Min="0" Style="position: absolute" /> *@
                                        </div>
                                        <div class="col-12 col-md-6 col-lg-4 mb-3">
                                            <RadzenFormField Text="MN Hạ Lưu (m)" Variant="Variant.Outlined" Style="width:100%">
                                                <RadzenNumeric TValue="double" @bind-Value="@_config.ParametterConfig.MNHL_CongSo2"
                                                               Style="width: 100%">
                                                </RadzenNumeric>
                                            </RadzenFormField>
                                            @* <RadzenRequiredValidator Component="MNTL_CongSo1" Popup="false" Min="0" Style="position: absolute" /> *@
                                        </div>
                                    </div>
                                </RadzenFieldset>
                                <RadzenFieldset Text="@_localizer["Cống Số 3"]">
                                    <div class="row p-3">
                                        <div class="col-12 col-md-6 col-lg-4 mb-3">
                                            <RadzenFormField Text='@(_localizer["Q"] + " (m³/s)")' Variant="Variant.Outlined" Style="width:100%">

                                                <RadzenNumeric TValue="double" @bind-Value="@_config.ParametterConfig.Q_CongSo3"
                                                               Style="width: 100%">
                                                </RadzenNumeric>
                                            </RadzenFormField>
                                            @* <RadzenRequiredValidator Component="API_ThanhAn" Popup="false" Min="0" Style="position: absolute" /> *@
                                        </div>
                                        <div class="col-12 col-md-6 col-lg-4 mb-3">
                                            <RadzenFormField Text="Độ mở cửa (m)" Variant="Variant.Outlined" Style="width:100%">
                                                <RadzenNumeric TValue="double" @bind-Value="@_config.ParametterConfig.DoMoCua_a_CongSo3"
                                                               Style="width: 100%">
                                                </RadzenNumeric>
                                            </RadzenFormField>
                                            @* <RadzenRequiredValidator Component="MNTL_CongSo1" Popup="false" Min="0" Style="position: absolute" /> *@
                                        </div>
                                        <div class="col-12 col-md-6 col-lg-4 mb-3">
                                            <RadzenFormField Text="MN Thượng Lưu (m)" Variant="Variant.Outlined" Style="width:100%">
                                                <RadzenNumeric TValue="double" @bind-Value="@_config.ParametterConfig.MNTL_CongSo3"
                                                               Style="width: 100%">
                                                </RadzenNumeric>
                                            </RadzenFormField>
                                            @* <RadzenRequiredValidator Component="MNTL_CongSo1" Popup="false" Min="0" Style="position: absolute" /> *@
                                        </div>
                                        <div class="col-12 col-md-6 col-lg-4 mb-3">
                                            <RadzenFormField Text="MN Hạ Lưu (m)" Variant="Variant.Outlined" Style="width:100%">
                                                <RadzenNumeric TValue="double" @bind-Value="@_config.ParametterConfig.MNHL_CongSo3"
                                                               Style="width: 100%">
                                                </RadzenNumeric>
                                            </RadzenFormField>
                                            @* <RadzenRequiredValidator Component="MNTL_CongSo1" Popup="false" Min="0" Style="position: absolute" /> *@
                                        </div>
                                    </div>
                                </RadzenFieldset>
                            </RadzenTabsItem>

                            <RadzenTabsItem Text="@_localizer["lbl_SystemSettings"]">
                                <div class="row p-3">
                                    <div class="col-12 col-md-6 col-lg-4 mb-3">
                                        <RadzenFormField Text='@(_localizer["lbl_DataLogInterval"] + " (s)")' Variant="Variant.Outlined" Style="width:100%">

                                            <RadzenNumeric TValue="int" @bind-Value="@_config.DataLogInterval"
                                                           Style="width: 100%">
                                                <RadzenRequiredValidator Component="DataLogInterval" Text="@string.Format(_localizer["validation_Required"], _localizer["lbl_DataLogInterval"])" Style="display: block" />
                                                <RadzenNumericRangeValidator Component="DataLogInterval" Min="1" Max="3600" Text="@string.Format(_localizer["validation_Range"], _localizer["lbl_DataLogInterval"], 1, 3600)" Style="display: block" />
                                            </RadzenNumeric>
                                        </RadzenFormField>
                                    </div>

                                    <div class="col-12 col-md-6 col-lg-4 mb-3">
                                        <RadzenFormField Text='@(_localizer["lbl_TimerInterval"] + " (ms)")' Variant="Variant.Outlined" Style="width:100%">

                                            <RadzenNumeric TValue="int" @bind-Value="@_config.TimerInterval"
                                                           Style="width: 100%">
                                                <RadzenRequiredValidator Component="TimerInterval" Text="@string.Format(_localizer["validation_Required"], _localizer["lbl_TimerInterval"])" Style="display: block" />
                                                <RadzenNumericRangeValidator Component="TimerInterval" Min="100" Max="60000" Text="@string.Format(_localizer["validation_Range"], _localizer["lbl_TimerInterval"], 100, 60000)" Style="display: block" />
                                            </RadzenNumeric>
                                        </RadzenFormField>
                                    </div>
                                </div>
                            </RadzenTabsItem>
                        </Tabs>
                    </RadzenTabs>
                </RadzenCard>
            }
        </RadzenStack>
    </RadzenColumn>
</RadzenRow>

@code {
    private ConfigModel _config = new();
    private bool _isLoading = true;
    private bool IsLoggedIn => GlobalVariable.UserAuthorizationInfo != null;
    RadzenDataGrid<CameraConfigModel>? _cameraGrid;
    CameraConfigModel? _cameraToInsert;

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
        await LoadConfigAsync();
    }

    private async Task LoadConfigAsync()
    {
        try
        {
            _isLoading = true;
            StateHasChanged();

            var result = await _ft01Service.GetConfigAsync();
            if (result.Succeeded && result.Data != null)
            {
                _config = result.Data;
            }
        }
        catch (Exception ex)
        {
            _notificationService.Notify(NotificationSeverity.Error, "Error", $"Error loading settings: {ex.Message}");
        }
        finally
        {
            _isLoading = false;
            StateHasChanged();
        }
    }

    private async Task HandleSaveClick()
    {
        try
        {
            var result = await _ft01Service.UpdateConfigAsync(_config);
            if (result.Succeeded)
            {
                _notificationService.Notify(NotificationSeverity.Success, "Success", "Settings saved successfully!");
            }
            else
            {
                _notificationService.Notify(NotificationSeverity.Error, "Error", $"Error saving settings: {string.Join(", ", result.Messages)}");
            }
        }
        catch (Exception ex)
        {
            _notificationService.Notify(NotificationSeverity.Error, "Error", $"Error saving settings: {ex.Message}");
        }
    }

    // Camera grid handlers
    void InsertCameraRow()
    {
        _cameraToInsert = new CameraConfigModel();
        _config.CameraConfigs ??= new List<CameraConfigModel>();
        _cameraGrid?.InsertRow(_cameraToInsert);
    }

    void EditCameraRow(CameraConfigModel item)
    {
        _cameraGrid?.EditRow(item);
    }

    async Task SaveCameraRow(CameraConfigModel item)
    {
        await _cameraGrid!.UpdateRow(item);
    }

    void CancelEditCameraRow(CameraConfigModel item)
    {
        _cameraGrid?.CancelEditRow(item);
        if (item == _cameraToInsert)
        {
            _cameraToInsert = null;
        }
    }

    async Task OnCameraCreateRow(CameraConfigModel item)
    {
        _config.CameraConfigs.Add(item);
        _cameraToInsert = null;
        await InvokeAsync(StateHasChanged);
    }

    async Task OnCameraUpdateRow(CameraConfigModel item)
    {
        // Data is already bound to list; just ensure UI refresh
        await InvokeAsync(StateHasChanged);
    }

    void DeleteCameraRow(CameraConfigModel item)
    {
        if (_config.CameraConfigs.Contains(item))
        {
            _config.CameraConfigs.Remove(item);
        }
    }
}
