@page "/add-edit-location/{Id?}"
@using Domain
@if (Model == null)
{
    <p><em>Đang tải...</em></p>
}
else
{
    <RadzenRow class="padding-body-content">
        <RadzenColumn Size="12" SizeSM="6">
            <RadzenLink Text="Trở về" Path="javascript:void(0)" @onclick="@(async () => await OnCancel())"
                        Icon="arrow_back_ios" Style="margin-bottom: 1rem;" />
        </RadzenColumn>
        <RadzenColumn Size="12" SizeSM="6">
            <RadzenStack Orientation="Radzen.Orientation.Horizontal" JustifyContent="Radzen.JustifyContent.End"
                         AlignItems="AlignItems.Center" Gap=" 5px">
                <RadzenButton Variant="Variant.Flat" Shade="Shade.Dark" Text="Xóa" Icon="cancel"
                              ButtonStyle="ButtonStyle.Danger" />
            </RadzenStack>
        </RadzenColumn>
    </RadzenRow>
    <RadzenTemplateForm Data="@Model">
        <RadzenStack Gap="1rem">
            <!-- Location Info -->
            <RadzenCard>
                <RadzenFieldset Text="Danh sách trạm">
                    <RadzenColumn Size="12" SizeSM="6">
                        <RadzenFormField Text="Tên địa điểm" Variant="Variant.Outlined" Style="width:100%">
                            <RadzenTextBox @bind-Value="@Model.Name" Style="width:100%" />
                        </RadzenFormField>
                    </RadzenColumn>
                    <RadzenColumn Size="12" SizeSM="6">
                        <RadzenFormField Text="Mô tả" Variant="Variant.Outlined" Style="width:100%">
                            <RadzenTextBox @bind-Value="@Model.Description" Style="width:100%" />
                        </RadzenFormField>
                    </RadzenColumn>
                </RadzenFieldset>
            </RadzenCard>

            <!-- Stations Grid -->
            <RadzenCard>
                <RadzenFieldset Text="Danh sách trạm">
                    <RadzenColumn SizeXS="12" SizeSM="12" class="d-flex justify-content-end rz-mb-2">
                        <RadzenStack Orientation="Radzen.Orientation.Horizontal"
                                     JustifyContent="Radzen.JustifyContent.End" AlignItems="AlignItems.Center" Gap=" 5px">
                            <RadzenButton ButtonStyle="ButtonStyle.Primary" Icon="add_circle" Click="AddStation" Disabled="_isInserting || _isEditing" />
                        </RadzenStack>
                    </RadzenColumn>
                    <RadzenDataGrid Data="@Model.Stations" @ref="_stationsGrid" TItem="StationInfoModel"
                                    AllowPaging="true">
                        <Columns>
                            <RadzenDataGridColumn TItem="StationInfoModel" Title="Tên trạm" Property="Name" Width="40%">
                                <EditTemplate Context="station">
                                    <RadzenTextBox @bind-Value="@station.Name" Style="width:100%" />
                                </EditTemplate>
                            </RadzenDataGridColumn>
                            <RadzenDataGridColumn TItem="StationInfoModel" Title="Thẻ" Property="Tags" Width="40%">
                                @*        <EditTemplate Context="station">
                            <RadzenTextBox @bind-Value="@station.Tags" Style="width:100%" />
                            </EditTemplate> *@
                            </RadzenDataGridColumn>
                            <RadzenDataGridColumn TItem="StationInfoModel" Title="Đường dẫn" Property="Path"
                                                  Width="40%">
                                <EditTemplate Context="station">
                                    <RadzenTextBox @bind-Value="@station.Path" Style="width:100%" />
                                </EditTemplate>
                            </RadzenDataGridColumn>
                            <RadzenDataGridColumn Context="detail" Filterable="false" Sortable="false"
                                                  TextAlign="TextAlign.Right" Width="120px" Frozen="true"
                                                  FrozenPosition="FrozenColumnPosition.Right">
                                <Template Context="detail">
                                    <RadzenButton Icon="edit" ButtonStyle="ButtonStyle.Light" Variant="Variant.Flat"
                                                  Size="ButtonSize.Medium" Click="@( async args=> await EditRow(detail))">
                                    </RadzenButton>
                                    <RadzenButton ButtonStyle="ButtonStyle.Danger" Icon="delete" Variant="Variant.Flat"
                                                  Shade="Shade.Lighter" Size="ButtonSize.Medium" class="rz-my-1 rz-ms-1"
                                                  Click="@(args => DeleteRow(detail))" @onclick:stopPropagation="true">
                                    </RadzenButton>
                                </Template>
                                <EditTemplate Context="detail">
                                    <RadzenButton Icon="check" ButtonStyle="ButtonStyle.Success" Variant="Variant.Flat"
                                                  Size="ButtonSize.Medium" Click="@((args) => SaveRow(detail))" aria-label="Lưu">
                                    </RadzenButton>
                                    <RadzenButton Icon="close" ButtonStyle="ButtonStyle.Light" Variant="Variant.Flat"
                                                  Size="ButtonSize.Medium" class="rz-my-1 rz-ms-1"
                                                  Click="@((args) => CancelEdit(detail))" aria-label="Hủy">
                                    </RadzenButton>
                                </EditTemplate>
                            </RadzenDataGridColumn>
                        </Columns>
                    </RadzenDataGrid>
                </RadzenFieldset>
            </RadzenCard>

            <!-- Action Buttons -->
            <RadzenStack Orientation="Orientation.Horizontal" JustifyContent="JustifyContent.End" Gap="1rem">
                <RadzenButton Text="Hủy" Click="@OnCancel" ButtonStyle="ButtonStyle.Light" />
                <RadzenButton Text="Lưu lại" Click="@OnSave" ButtonStyle="ButtonStyle.Primary" Disabled="@_isSaving" />
            </RadzenStack>
        </RadzenStack>
    </RadzenTemplateForm>
}