@inject IStringLocalizer<CommonResources> _localizerCommon

@if (!ShowPrefix)
{
    @if (IsAutocomplete)
    {
        <RadzenDropDownDataGrid TValue="string" @bind-Value=@SelectedValue Data=@Values Chips="true" id="myProductDropdown"
                                TextProperty="ProductCode"
                                ValueProperty="ProductCode"
                                AllowColumnResize="false"
                                AllowFilteringByAllStringColumns="true"
                                Name="_dropDownSelectProduct"
                                SearchTextPlaceholder="@_localizerCommon["Search"]"
                                EmptyText="@_localizerCommon["No records to display."]"
                                LoadData="@(args => AutocompleteProduct(args))" 
                                Change="@(args => OnChange(args))"
                                AllowClear=true
                                AllowFiltering="true"
                                FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive"
                                FilterOperator="StringFilterOperator.Contains"
                                Multiple="false">
            <Columns>
                <RadzenDropDownDataGridColumn Property="ProductCode" Title="@_localizerCommon["ProductCode"]" />
                <RadzenDropDownDataGridColumn Property="ProductName" Title="@_localizerCommon["ProductName"]" />
            </Columns>
        </RadzenDropDownDataGrid>
    }
    else
    {

        <RadzenDropDownDataGrid TValue="string" @bind-Value=@SelectedValue Data=@Values id="myProductDropdown"
                                TextProperty="ProductCodeOrigin"
                                ValueProperty="ProductCode"
                                Name="_dropDownSelectProduct"
                                SearchTextPlaceholder="@_localizerCommon["Search"]"
                                EmptyText="@_localizerCommon["No records to display."]"
                                Change="@(args => OnChange(args))"
                                AllowClear=true
                                AllowFiltering="true"
                                AllowColumnResize="true"
                                AllowFilteringByAllStringColumns="true"
                                FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive"
                                FilterOperator="StringFilterOperator.Contains"
                                Multiple="false">

            
            <Columns>
                @* <RadzenDropDownDataGridColumn Property="ProductCode" Title="@_localizerCommon["ProductCode"]" /> *@
                <RadzenDropDownDataGridColumn Width="200px" Property="@nameof(ProductDto.ProductCode)">
                    <HeaderTemplate>
                        @_localizerCommon["ProductCode"]
                    </HeaderTemplate>
                    <Template Context="data">
                        <span>
                            @(data.ProductCode.Length > 3
                                && data.ProductCode[2] == '-'
                                ? data.ProductCode.Substring(3)
                                : data.ProductCode
                                )
                        </span>
                    </Template>
                </RadzenDropDownDataGridColumn>
                <RadzenDropDownDataGridColumn Property="ProductName" Title="@_localizerCommon["ProductName"]" />
            </Columns>
        </RadzenDropDownDataGrid>
    }
}
else
{
    <RadzenDropDownDataGrid TValue="string" @bind-Value=@SelectedValue Data=@Values id="myProductDropdown"
                            TextProperty="ProductCodePrefix"
                            ValueProperty="ProductCode"
                            AllowColumnResize="false"
                            AllowFilteringByAllStringColumns="true"
                            Name="_dropDownSelectProduct"
                            SearchTextPlaceholder="@_localizerCommon["Search"]"
                            EmptyText="@_localizerCommon["No records to display."]"
                            Change="@(args => OnChange(args))"
                            AllowClear=true
                            AllowFiltering="true"
                            FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive"
                            FilterOperator="StringFilterOperator.Contains"
                            Multiple="false">
        <Columns>
            <RadzenDropDownDataGridColumn Width="250px" Property="@nameof(ProductDto.ProductCode)">
                <HeaderTemplate>
                    @_localizerCommon["ProductCodePrefix"]
                </HeaderTemplate>
                <Template Context="data">
                    <span>
                        @(data.ProductCode.Length > 3
                            && data.ProductCode[2] == '-'
                            ? $"{data.ProductCode} ({data.ProductCode.Substring(3)})"
                            : data.ProductCode
                            )
                    </span>
                </Template>
            </RadzenDropDownDataGridColumn>
            <RadzenDropDownDataGridColumn Property="ProductName" Title="@_localizerCommon["ProductName"]" />
        </Columns>
    </RadzenDropDownDataGrid>
}

@code {
    [Parameter]
    public int TenantId { get; set; } = 0;
    [Parameter]
    public string SelectedValue { get; set; }
    [Parameter]
    public bool IsAutocomplete { get; set; } = false;
    [Parameter]
    public IEnumerable<ProductDto> Values { get; set; }
    [Parameter]
    public List<string> ProductCodeFilter { get; set; }
    [Parameter]
    public EventCallback<ProductDto> Change { get; set; }

    [Parameter]
    public string? LocationId { get; set; }

    [Parameter]
    public bool ShowPrefix { get; set; } = false;

    protected override async Task OnInitializedAsync()
    {
        try
        {
            await base.OnInitializedAsync();
        }
        catch (Exception e)
        {
            throw new Exception(e.Message);
        }
        finally
        {
            StateHasChanged();
        }
    }

    protected override async Task OnParametersSetAsync()
    {
        await ReloadData();
        await base.OnParametersSetAsync();
    }

    private async Task AutocompleteProduct(LoadDataArgs args)
    {
        try
        {
            await ReloadData(args.Filter);
        }
        catch (Exception ex)
        {
            _notificationService.Notify(new NotificationMessage
                {
                    Severity = NotificationSeverity.Error,
                    Summary = _localizerCommon["Error"],
                    Detail = _localizerCommon["ErrorOccurredWhileSearchingProducts", ex.Message],
                    Duration = 4000
                });
        }
    }

    private async Task OnChange(object value)
    {
        if (value != null)
        {
            SelectedValue = value.ToString();
            var selectedProduct = Values.FirstOrDefault(p => p.ProductCode == value.ToString());
            if (selectedProduct != null)
            {
                await Change.InvokeAsync(selectedProduct);
            }
        }
    }

    private async Task ReloadData(string? keyword = null)
    {
        var result = await _productServices.AutocompleteProductAsync(keyword, TenantId);

        if (result.Succeeded)
        {
            Values = result.Data;
            if (ProductCodeFilter != null && ProductCodeFilter.Count() > 0)
            {
                Values = Values.Where(x => ProductCodeFilter.Contains(x.ProductCode));
            }
        }
        else
        {
            _notificationService.Notify(new NotificationMessage
                {
                    Severity = NotificationSeverity.Error,
                    Summary = _localizerCommon["Error"],
                    Detail = _localizerCommon["FailedToSearchProducts", result.Messages],
                    Duration = 4000
                });
        }
        // var location = await _locationServices.GetByIdAsync(Guid.Parse(LocationId));

        // var searchModel = new InventoryInfoBinLotSearchRequestDTO();
        // searchModel.CompanyId = TenantId;
        // searchModel.ProductCodes.Add(new ProductCodeSearch() { ProductCode = keyword });
        // searchModel.LocationsCode.Add(new locationSearch() { LocationName = location?.Data?.LocationName });


        // var inventory = await _warehouseTranServices.GetInventoryInfoFlowBinLotFlowModelSearchAsync(searchModel);

        // if (!inventory.Succeeded)
        // {
        //     NotificationHelper.ShowNotification(_notificationService, NotificationSeverity.Error, _localizerCommon["Error"], _localizerCommon["FailedToSearchProducts"]);
        //     return;
        // }

        // List<ProductDto> listProductResult = new List<ProductDto>();

        // foreach (var item in inventory.Data)
        // {
        //     var groupStock = item.Details.GroupBy(x => x.WarehouseCode).Select(u => new
        //     {
        //         LocationName = u.Key,
        //         InventoryStock = u.Sum(_ => _.InventoryStock),
        //         OnOrder = u.Sum(_ => _.OnOrder),
        //         AvailableStock = u.Sum(_ => _.AvailableStock),
        //     });
        //     var product = new ProductDto();
        //     product.Id = product.Id;
        //     product.ProductName = item.ProductName;
        //     product.StockAvailableQuantity = group
        //     product.ProductCode = product.ProductCode;
        //     product.SupplierName = supplierName;
        //     product.ProductStatus = product.ProductStatus;
        //     product.UnitName = unitName;
        //     product.UnitId = product.UnitId;
        //     product.CategoryName = categoryName;
        //     product.ProductStatusString = product.ProductStatus.ToString();
        //     product.JanCodes = janCodes.Adapt<List<ProductJanCodeDto>>();
        //     product.StockAvailableQuantityTrans = StockAvailableQuantityTrans - QuantityShipment;
        //     product.QuantityShipment = quantityShipment;

        // }
    }
}